body {
  width: 50%;
  margin: 15px auto;
  background-color: #232630;
  color: #f8efff;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  font-size: 26px;
  font-weight: 300;
}

.panel {
  background-color: #364156;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.panel:not(:last-child) {
  margin-bottom: 15px;
}

.pattern-view {
  min-height: 150px;
}
