button {
  display: block;
  box-sizing: border-box;
  padding: 20px 30px;
  margin: 5px;
  color: white;
  background: $primary;
  border: 1px solid transparent;
  border-radius: 2px;
  font-family: $font-family;
  font-size: 18px;
  cursor: pointer;
  @extend %no-selection;

  &:focus { outline: none; }
  &:active {
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.25);
  }
}

button.play[data-scheduled="true"] {
  background: #5c6d7b;
}

button.eighth-shift {
  &[data-shifted="false"] {
    border: 1px solid $fg-color;
    background: transparent;
    color: $fg-color;
  }
  &[data-shifted="true"] {
    background: $primary;
  }
}

button.ostinato {
  &[data-active="false"] {
    border: 1px solid $fg-color;
    background: transparent;
    color: $fg-color;
  }
  &[data-active="true"] {
    background: $primary;
  }
}

button.clock {
  &[data-state="stopped"] {
    border: 1px solid $fg-color;
    background: transparent;
    color: $fg-color;
  }
  &[data-state="started"] {
    background: $primary;
  }
}

button.magic-button {
  position: relative;
  clear: both;
  &[data-state="off"] {
    border: 1px solid $fg-color;
    background: transparent;
    color: $fg-color;
    &::before, &::after {
      display: none;
      opacity: 0;
    }
  }
  &[data-state="sync"] {
    background: $primary;
    &::before, &::after {
      display: block;
      opacity: 1;
    }
  }
  &::before {
    z-index: 1;
    position: absolute;
    bottom: 120%;
    left: -60%;
    width: 200%;
    padding: 10px;
    pointer-events: none;
    transition: opacity $anim-speed ease;
    background: white;
    color: $fg-color;
    content: "Press and hold until synchronized with ensemble, then release."
  }
  &::after {
    position: absolute;
    left: 30%;
    bottom: 105%;
    width: 0;
    transition: opacity $anim-speed ease;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: white transparent;
    content: "";
  }
}
