@mixin button-border($color) {
  border-bottom: 3px solid darken($color, 10%);
}

button {
  padding: 20px 30px;
  margin: 5px;
  color: white;
  background: $blue;
  border: none;
  @include button-border($blue);
  border-radius: 2px;
  font-size: 14px;
  @extend %no-selection;

  &:focus { outline: none; }
  &:active {
    box-shadow: inset 0 0 1px 3px rgba(0,0,0,0.25);
    border-bottom: none;
  }
}

button.play[data-scheduled="true"] {
  background: #5c6d7b;
  @include button-border($grey);
}

button.ostinato {
  &[data-active="true"] {
    background: $green;
    @include button-border($green);
  }

  &[data-active="false"] {
    background: #944141;
    @include button-border($red);
  }
}

button.clock {
  &[data-state="stopped"] {
    background: #944141;
    @include button-border($red);
  }
  &[data-state="started"] {
    background: $green;
    @include button-border($green);
  }
}
