@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');

//=================
// Global Variables
//=================

$bg-color: white !global;
$fg-color: #233526 !global;

$yellow: #ffe347 !global;
$purple: #6457a6 !global;
$light-purple: #7d7abc !global;
$melon: #ef767a !global;
$teal: #23f0c7 !global;

// OLD COLORS
$primary: #ffe347 !global;
$green: #82b182 !global;
$red: #944141 !global;
$grey: #5c6d7b !global;
$dark-grey: #424e57 !global;

//$font-family: 'Avenir Next', Helvetica, Arial, sans-serif !global;
$font-family: 'Quicksand', sans-serif;

$anim-speed: 0.4s;

%no-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@import 'buttons';
@import 'sliders';
@import 'octaveControl';

//=============
// Base Styling
//=============

body {
  background: $bg-color;
  color: $fg-color;
  font-family: $font-family;
}

:focus { outline: none !important; }
::-moz-focus-inner { border: none !important; }

input[type=number] {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input[type='number']:invalid {
  outline: 1px solid $red;

  &::after {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    background: white;
    color: $fg-color;
    content: 'shits broke, dude';
  }
}

//butts
